mixin nav()
    div.navbar-fixed
        nav.main-nav.deep-purple.lighten-1
            div.nav-wrapper
                .logo-wrapper.right
                    .user-info
                        if user
                            a(href="/user/profile")
                                | Hello, #{user.firstname}
                    .logo
                        a(href="/")
                            | Gameszilla

                a.button-collapse.hide-on-large(href='#', data-activates='mobile-demo')
                    i.material-icons menu
                ul.left.hide-on-med-and-down
                    li
                        a.waves-effect.waves-purple(href='/')
                            | Home
                    li
                        a#gamesDropdownTrigger.dropdown-button.waves-effect.waves-purple(href="#", data-activates="gamesDropdown")
                            | Games 
                            i.material-icons.right
                                | arrow_drop_down 
                    if user
                        li
                            a.waves-effect.waves-purple(href="/auth/logout")
                                | Log out
                    else
                        li
                            a.waves-effect.waves-purple(href="/auth/login")
                                | Log in
                        li
                            a.waves-effect.waves-purple(href="/auth/register")
                                | Register


    ul#mobile-demo.side-nav
      li.sidenav-header.deep-purple.lighten-1
            if user
              a.waves-effect.waves-purple.center-align.white-text(href="#")
               h5 #{user.firstname}
            else 
              a.waves-effect.waves-purple.center-align.white-text(href="#")
               h5 Gameszilla
      li.white
        ul.collapsible.collapsible-accordion
          li
            a.collapsible-header.waves-effect.waves-purple.center-align
              | Games
              i.material-icons.right(style='margin-right:0;') arrow_drop_down
            .collapsible-body
              ul
                li
                    ul.collapsible.collapsible-accordion
                      li
                        a.collapsible-header.waves-effect.waves-purple.center-align
                          | Genres
                          i.material-icons.right(style='margin-right:0;') arrow_drop_down
                        .collapsible-body
                          ul
                            if genres.length > 0
                                li
                                  each genre in genres
                                    a.waves-effect.waves-purple(href='#')
                                        | #{genre.name}
                            else
                                li
                                    a.waves-effect.waves-purple(href='#')
                                        | 
                            li.divider
                li
                    ul.collapsible.collapsible-accordion
                      li
                        a.collapsible-header.waves-effect.waves-purple.center-align
                          | Platforms
                          i.material-icons.right(style='margin-right:0;') arrow_drop_down
                        .collapsible-body
                          ul
                            if platforms.length > 0
                                li
                                  each platform in platforms
                                    a.waves-effect.waves-purple(href='#')
                                        | #{platform.name}
                            else
                                li
                                    a.waves-effect.waves-purple(href='#')
                                        | 
          .divider
        if user
            li
                a.waves-effect.waves-purple(href="/auth/logout")
                    i.material-icons.mdi.mdi-logout
                    | Log out
        else
            li
                a.waves-effect.waves-purple(href="/auth/login")
                    i.material-icons.mdi.mdi-login
                    | Log in
            li
                a.waves-effect.waves-purple(href="/auth/register")
                    i.material-icons.mdi.mdi-account-plus
                    | Register
    ul#gamesDropdown.dropdown-content.dropdown-nested
        li
            a#genresDropdownTrigger.dropdown-button(href="#" data-activates="genresDropdown")
                | Genres
                i.material-icons.right
                    | arrow_drop_down
        li.divider
        li
            a#platformsDropdownTrigger.dropdown-button(href="#" data-activates="platformsDropdown")
                | Platforms
                i.material-icons.right
                    | arrow_drop_down

        ul#genresDropdown.dropdown-content.dropdown-nested
            if genres.length > 0
                each genre in genres
                    li
                     a.dropdown-button(href="#")
                        | #{genre.name}
                    li.divider
            else 
                    li
                     a.dropdown-button(href="#")
                        | 
                    li.divider
        ul#platformsDropdown.dropdown-content.dropdown-nested
            if platforms.length > 0
                each platform in platforms
                    li
                     a.dropdown-button(href="#")
                        | #{platform.name}
                    li.divider
            else 
                    li
                     a.dropdown-button(href="#")
                        | 
                    li.divider
