extends ../shared/master

block append head
    link(rel="stylesheet", type="text/css", href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css")
    link(rel="stylesheet", type="text/css", href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css")
    link(rel="stylesheet", type="text/css", href='/public/assets/styles/games/game.css')

block append scripts
    script(src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js")
    script(src="/public/assets/js/core/games/gamejs.js")

block content
    div#index-banner.parallax-container
        div.section.no-pad-bot
            div.container
                div.row
                    br
                    br
                    img.game-cover.col.m6.s12(src=gameObj.cover)
                    h1.header.teal-text.text-lighten-2.col.s12.m6.left-align
                        | #{gameObj.name}
                    div.center
                        h5.header.col.s12.m6.light.left-align
                            | Release date: #{gameObj.releaseDate}
                    div.center
                        h5.header.col.s12.m6.light.left-align
                            p.publisher
                                | Publisher: 
                                each publisher, index in gameObj.Publishers
                                    a(href="#")
                                        | #{publisher.name}
                                    if index < gameObj.Publishers.length - 1
                                        span
                                            | , 
                    div.center
                        h5.header.col.s12.m6.light.left-align
                            a(href='#')
                                | More could be added...
                    br
                    br
        div.parallax
            img(src=gameObj.cover)
    div.container
        div.section
            div.row
                div.col.s12.m8
                    div.icon-block
                        h5.center
                            | About
                        p.genre
                            | Genre: 
                            each genre, index in gameObj.Genres
                                a(href="#")
                                    | #{genre.name}
                                if index < gameObj.Genres.length - 1
                                    span
                                        | , 
                        p.platform
                            | Platforms:
                            each platform, index in gameObj.Platforms
                                a(href="#")
                                    | #{platform.name}
                                if index < gameObj.Platforms.length - 1
                                    span
                                        | , 
                        p.light
                            | #{gameObj.summary}
                        //- p.edikakvosi
                        //-     a(href="#")
                        //-         | this section could be split into 2 x 4
                        //- p.etc
                        //-     a(href="#")
                        //-         | And so on...
                form(action="/:name", method="post")
                    div.col.s12.m4
                        h5.center
                            | How would you rate this game?
                        .row
                            .col.s4.center-align.offset-s4
                                .card-panel.yellow
                                    span.black-text.center
                                        | 0.0
                        p.rating.center
                            a#rate0.small.material-icons.mdi.mdi-star-outline.hide(href="#")
                            a#rate1.small.material-icons.mdi.mdi-star-outline(href="#", data-rating=1)
                            a#rate2.small.material-icons.mdi.mdi-star-outline(href="#", data-rating=2)
                            a#rate3.small.material-icons.mdi.mdi-star-outline(href="#", data-rating=3)
                            a#rate4.small.material-icons.mdi.mdi-star-outline(href="#", data-rating=4)
                            a#rate5.small.material-icons.mdi.mdi-star-outline(href="#", data-rating=5)
                            a#rate6.small.material-icons.mdi.mdi-star-outline(href="#", data-rating=6)
                            a#rate7.small.material-icons.mdi.mdi-star-outline(href="#", data-rating=7)
                            a#rate8.small.material-icons.mdi.mdi-star-outline(href="#", data-rating=8)
                            a#rate9.small.material-icons.mdi.mdi-star-outline(href="#", data-rating=9)
                            a#rate10.small.material-icons.mdi.mdi-star-outline(href="#", data-rating=10)
                            a#rate11.small.material-icons.mdi.mdi-star-outline.hide(href="#")
                        div.view-rating.center-align
    //- div.wr-slider
    //-     div.slider-games
    //-         div.game-box
    //-             img(src="http://1.bp.blogspot.com/_FA30KVcjKm0/TLOUfC2OklI/AAAAAAAAAAo/WOT1m0SB5jU/s1600/GarenaLeagueoflegendsposter.jpg").game-pic
    //-             div.game-title
    //-                 | League of Legends1
    //-         div.game-box
    //-             img(src="http://1.bp.blogspot.com/_FA30KVcjKm0/TLOUfC2OklI/AAAAAAAAAAo/WOT1m0SB5jU/s1600/GarenaLeagueoflegendsposter.jpg").game-pic
    //-             div.game-title
    //-                 | League of Legends2
    //-         div.game-box
    //-             img(src="http://1.bp.blogspot.com/_FA30KVcjKm0/TLOUfC2OklI/AAAAAAAAAAo/WOT1m0SB5jU/s1600/GarenaLeagueoflegendsposter.jpg").game-pic
    //-             div.game-title
    //-                 | League of Legends3
    //-         div.game-box
    //-             img(src="http://1.bp.blogspot.com/_FA30KVcjKm0/TLOUfC2OklI/AAAAAAAAAAo/WOT1m0SB5jU/s1600/GarenaLeagueoflegendsposter.jpg").game-pic
    //-             div.game-title
    //-                 | League of Legends4
    //-         div.game-box
    //-             img(src="http://1.bp.blogspot.com/_FA30KVcjKm0/TLOUfC2OklI/AAAAAAAAAAo/WOT1m0SB5jU/s1600/GarenaLeagueoflegendsposter.jpg").game-pic
    //-             div.game-title
    //-                 | League of Legends5
    div.wr-slider
        div.slider-games
            each screenShot in gameObj.Screenshots
                div.game-box
                    img(src=screenShot.url).game-pic.materialboxed
                    //- | #{screenShot.url}
            each video in gameObj.Videos
                div.game-box
                    - var embededUrl = video.url.replace('watch?v=', 'embed/');
                    iframe(src=embededUrl).game-pic
                    //- img(src=video.url).game-pic
                    //- | #{embededUrl}
    div.container.z-depth-1
        .col.s12
            h4.header 
                | Reviews
                .card.horizontal
                    .card-stacked
                        .card-content
                            form.col.s12
                                div.input-field.col.s12
                                    textarea#textarea1.materialize-textarea
                                    label(for='textarea1') Write a review...
                        .card-action
                            button.btn.waves-effect.waves-light.right(type='submit', name='action')
                                | Submit
                                i.material-icons.right send
