extends ../shared/master
block append head
    link(rel="stylesheet", type="text/css", href='/public/assets/styles/core/home.css')

block append scripts
    script(src="/public/assets/js/core/home/scripts.js")

block content
    div.row.game-search
        div.row
            div.col.s8.offset-s2
                h2.center-align
                    | Find your favorite game
        div.row
            form.col.s6.offset-s3
                div.row
                    div.input-field.gs-field
                        input#icon_prefix.validate.input-value(type='text')
                        label(for='icon_prefix')
                            | Search Here
                    button.btn-floating.gs-button#search-button(type='button')
                        i.material-icons.gs-button-icon search
    h4.center-align.top-games-label Top 3 rated games:
    .row.center-align.game-container
        each game, index in topThreeGames
            a.game-wrapper(href='/games/'+game.name)
                img.game-pic(src=game.cover)
                .game-name
                    | Title: 
                    span.game-label-value
                        | #{game.name}
                        span
                .game-rating
                    | Rating: 
                    span.game-label-value #{game.rating}
                .game-genres
                    | Genres: 
                    span.game-label-value
                        | #{game.genres.join(',')}
                    //- each genre, index1 in game.genres
                    //-     | #{genre.name}




 
        




