extends ../shared/master

block append head
    link(rel="stylesheet", type="text/css", href='/public/assets/styles/users/profile.css')

block append scripts
    script(src="/public/assets/js/edit.profile.js")

block content
  .container.user-profile
    .row
      .col.s12.m10.offset-m1.xl6.offset-xl3.tabs-container
        .card-panel
          .row
            ul.tabs
              li.tab.col.s6
                a.active.waves-effect.waves-purple.deep-purple-text(href='#previewProfile') Preview
              li.tab.col.s6
                a.waves-effect.waves-purple.deep-purple-text(href='#editProfile') Edit

            #previewProfile.col.s12
                .profile-container
                  .col.s10.offset-s1.m6.avatar-container.center-align
                    .avatar
                      img(src=user.avatar, alt="")
                  .col.s12.m6.user-desc
                    .firstname.user-profile-info
                      span
                        |Firstanme:
                      | #{user.firstname}
                    .lastname.user-profile-info
                      span
                        |Lastname:
                      | #{user.lastname}
                    .email.user-profile-info
                      span
                        |email:
                      | #{user.email}

            #editProfile.col.s12
              form.col.s12.edit-profile-form(action='/api/users/profile/edit', method='POST')
                  .row
                    .input-field.col.s8.offset-s2
                      input#first_name.validate(type='text', value=user.firstname, disabled='true')
                      label(for='first_name') First Name
                  .row
                    .input-field.col.s8.offset-s2
                      input#last_name.validate(type='text', value=user.lastname, disabled='true')
                      label(for='last_name') Last Name
                  .row
                    .input-field.col.s8.offset-s2
                      input#email.validate(type='email', value=user.email, name="email")
                      label(for='email') Email
                  .row
                    .input-field.col.s8.offset-s2
                      input#password.validate(type='password')
                      label(for='password', name="password") Password
                  .row
                    .file-field.input-field.col.s8.offset-s2
                     button.btn
                       |File
                       input#avatar(type='file',  name= "avatar")
                     .file-path-wrapper
                       input.file-path.validate(type='text', placeholder='Upload avatar')
                  .row
                    .col.s2.offset-s8
                      button.btn.waves-effect.waves-light(type='submit')
                        | Save


